
<div class="container1">

    <img src="assets/conocenos.png" alt="" width="700">
     <div>
        <h2 style="text-align: center; font-family:fantasy;">Salones de eventos esclusivos</h2>
        <p style="padding: 30px;"> Con una inmejorable ubicación El Hotel Barranquilla Plaza dispone de 12 salones 
          diseñados para realizar todo tipo de eventos; sociales y reuniones empresariales con los mejores estándares de calidad. un ingeniero civil de 
          la.Escoger tu vestido, con un diseño que se robe todas las miradas y que todos te digan que estás como 
          divina, preciosa :)
           Mientras llega ese momento, aquí vamos a hablar de vestidos, zapatos, accesorios.</p><br>
           
           <a href="https://www.youtube.com/watch?v=6l3B78zyxZw"><button type="button" class="btn btn-secondary btn-lg" style="justify-content: center; margin-left: 40%;" >Conocenos</button></a> 
    </div>
    
  </div>
  <br>

  <div class="container" style="padding-bottom: 60px;">
        
    <b> <h3
      style="text-align: center; font-family:fantasy;">¡SOMOS VARIEDAD!</h3></b>
    
              
    <div class="row justify-content-evenly" style="padding-top: 70px;">
      <div class="col-4">
        <div class="ratio ratio-21x9">
          <iframe src="https://www.youtube.com/embed/s_5mrwTWy-8" title="YouTube video" allowfullscreen></iframe>
        </div>
      </div>
      <div class="col-4">
       <B><H3 style="text-align: center; padding-top: 20%;">SALONES CON ALTA TECNOLOGÍA</H3></B> 
      </div>
    </div>
    <hr>
    <div class="row" style="margin-left: 50px; padding-top: 50px;">

     <b> <h3
      style="text-align: center; font-family:fantasy; margin-bottom: 50px;">Encuentranos</h3></b><br>
    
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3916.57529248916!2d-74.79318628582665!3d10.995395158121823!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8ef42d79e57e00e7%3A0x3b195f6bb10f7ede!2sCUL%20CORPORACION%20UNIVERSITARIA%20LATINOAMERICANA!5e0!3m2!1ses!2sco!4v1634331045459!5m2!1ses!2sco" width="800" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe> 
 
    </div>
  </div>

 
  