<app-imag-estable></app-imag-estable>

<div class="tarjetacol">
    <h2 style="text-align: center; font-family: fantasy;">centros de mesa</h2><br>

    <div class="row row-cols-1 row-cols-md-3 g-4">
        
        <div class="col">
          <div class="card">
            <img src="assets/salones1.png" class="card-img-top" alt="..." height="250">
            <div class="card-body">
              <h5 class="card-title">Centro de mesa 1</h5>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to <br> additional content. This content is a little bit longer.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="assets/salones2.png" class="card-img-top" alt="..." height="250">
            <div class="card-body">
              <h5 class="card-title">Centro de mesa 2</h5>
              <p class="card-text">Este es uno de los mas usados en nuestros salones <br> text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="assets/salones3.png" class="card-img-top" alt="..." height="250">
            <div class="card-body">
              <h5 class="card-title">Centro de mesa 3</h5>
              <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi, delectus vero id quo, corporis, asperiores mollitia sequi tempora 
                quos provident iusto sed. Libero ipsa facilis </p>
            </div>
          </div>
        </div>
        
          
      </div>

</div>







<div class="tarjetacol">
    <h2 style="text-align: center; font-family: fantasy;">Alguno de nuestros salones</h2><br>

    <div class="row row-cols-1 row-cols-md-3 g-4">
        
        <div class="col">
          <div class="card">
            <img src="assets/salones4.png" class="card-img-top" alt="..." height="250">
            <div class="card-body">
              <h5 class="card-title">Al Aire libre</h5>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="assets/salones5.png" class="card-img-top" alt="..." height="250">
            <div class="card-body">
              <h5 class="card-title">hermosos Rascacielos</h5>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="assets/salones6.png" class="card-img-top" alt="..." height="250">
            <div class="card-body">
              <h5 class="card-title">Gran iluminacion</h5>
              <p class="card-text">This is a longer card with supporting text below as a natural <br> lead-in to additional content.</p>
            </div>
          </div>
        </div>

        <div class="col">
            <div class="card">
              <img src="assets/salones7.png" class="card-img-top" alt="..." height="250">
              <div class="card-body">
                <h5 class="card-title">Todo tipo de eventos</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <img src="assets/salones8.png" class="card-img-top" alt="..." height="250">
              <div class="card-body">
                <h5 class="card-title">Muchos Equipos</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <img src="assets/salones9.png" class="card-img-top" alt="..." height="250">
              <div class="card-body">
                <h5 class="card-title">Pistas de baile</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to <br> additional content.</p>
              </div>
            </div>
          </div>
        
        
          
      </div>

</div>
