<app-imag-estable></app-imag-estable>

<div class="tarjetacol">
    <h2 style="text-align: center; font-family: fantasy;">centros de mesa</h2><br>

    <div class="row row-cols-1 row-cols-md-3 g-4">
        
        <div class="col">
          <div class="card">
            <img src="https://cdn0.matrimonio.com.co/vendor/7611/original/960/jpg/decoraciones-fantasticas_v1.webp" class="card-img-top" alt="..." height="250">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="https://cdn0.matrimonio.com.co/vendor/9883/3_2/640/png/el-mejor-lugar_10_1915-1555106607.webp" class="card-img-top" alt="..." height="250">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="https://cdn0.matrimonio.com.co/vendor/4303/3_2/640/jpg/boston1_10_124303.webp" class="card-img-top" alt="..." height="250">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
            </div>
          </div>
        </div>
        
          
      </div>

</div>







<div class="tarjetacol">
    <h2 style="text-align: center; font-family: fantasy;">Alguno de nuestros salones</h2><br>

    <div class="row row-cols-1 row-cols-md-3 g-4">
        
        <div class="col">
          <div class="card">
            <img src="https://lh3.googleusercontent.com/proxy/4yvq-WnnYvtT4Olu-ibYVEzJ_dhrhRHoM2fqjHg_xlJAtBihPoDWXkNkxbweEGA2NZZ_QnfsQRd2N9zoCjtURienZJ9ROPWnz7Kv5y96nZnbZ_Zw4J0HEHvi9_9tgNO23DnqSXmx" class="card-img-top" alt="..." height="250">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="https://w0.peakpx.com/wallpaper/719/913/HD-wallpaper-wedding-grapher-california-wedding-videographer-in-california-grapher-los-angeles-ca-event-videographer-miami-los-angeles-wedding-grapher.jpg" class="card-img-top" alt="..." height="250">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img src="https://torredecontroleventos.com/wp-content/uploads/2021/01/15-anos-bogota-salon-norte.jpg" class="card-img-top" alt="..." height="250">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
            </div>
          </div>
        </div>

        <div class="col">
            <div class="card">
              <img src="https://www.eventoschannel.com/sites/default/files/banner-pages/aa_620_0.jpg" class="card-img-top" alt="..." height="250">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <img src="https://www.flormartz.com/wp-content/uploads/2020/02/Baby2Baby-3.jpg" class="card-img-top" alt="..." height="250">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <img src="https://torredecontroleventos.com/wp-content/uploads/2019/03/Organizacion-de-eventos-en-bogota_215.jpg" class="card-img-top" alt="..." height="250">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
              </div>
            </div>
          </div>
        
        
          
      </div>

</div>
