  <nav class="navbar navbar-expand-lg navbar-light bg-light bg-white" >
    <div class="container-fluid" style="margin-left: 15%;">
      
      <a class="navbar-brand" style="font-family: 'Dancing Script', cursive;" href="#"><img src="assets/Logo.png" alt="Logo Salon Eventos" class="img-logo mx-2"> <b>SALON DE EVENTOS</b></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav position-absolute start-50 fs-5">
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" aria-current="page" [routerLink]="['principal']" >Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" [routerLink]="['conocenos']" >Conocenos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" [routerLink]="['salones']" >Salones</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" [routerLink]="['agenda']"  >Formularios</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" [routerLink]="['catering']"  >Catering</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLinkActive="active" [routerLink]="['equipo']"  >Equipo</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  