<app-carrusel></app-carrusel>

<div class="container">
    <h2 style="text-align: center; font-family: fantasy; padding-top: 40px;">Conoce nustros platillos</h2><br>
    <div class="row align-items-start">
      <div class="col">
        <img src="assets/catering1.png" alt="" width="350" height="300">
      </div>
      <div class="col">
        <img src="assets/catering2.png" alt="" width="350" height="300">
      </div>
      <div class="col">
        <img src="assets/catering3.png" alt="" width="350" height="300">

      </div>
    </div>
    <div class="row align-items-center">
        <div class="col">
            <img src="assets/catering4.png" alt="" width="350" height="300">
          </div>
          <div class="col">
            <img src="assets/catering5.png" alt="" width="350" height="300">
          </div>
          <div class="col">
            <img src="assets/catering6.png" alt="" width="350" height="300">
    
          </div>
    </div>

    <div class="row align-items-end">
        <div class="col">
            <img src="assets/catering7.png" alt="" width="350" height="300">
        </div>
        <div class="col">
            <img src="assets/catering8.png" alt="" width="350" height="300">
        </div>
        <div class="col">
            <img src="assets/catering9.png" alt="" width="350" height="300">
        </div>
      </div>
    
  </div>