<app-imag-estable></app-imag-estable>

 

<div class="container">
  <h2 class="titulo">Alguno de nuestros eventos</h2>
  <div class="contenedor">
    <div class="row align-items-start" >
      <div class="col">
        <div class="imagen"><img src="assets/principal1.png" alt="" >
          <div class="hover-galeria">
            <img src="assets/hover.jpg" alt="" ><br>
             <br><p>Nuestro Trabajo</p>
        </div>
        </div>
        
      </div>
      <div class="col">
        <div class="imagen"><img src="assets/principal2.png" alt="" >
          <div class="hover-galeria">
          <img src="assets/hover.jpg" alt="">
          <p>Nuestro Trabajo</p>
          </div>
        </div>

      </div>
      <div class="col">
        <div class="imagen"><img src="assets/principal3.png" alt="" >
          <div class="hover-galeria">
          <img src="assets/hover.jpg" alt="">
          <p>Nuestro Trabajo</p>
         </div>
        </div>
      </div>
    </div>
    <div class="row align-items-center">
        <div class="col">
            <div class="imagen"><img src="assets/principal4.png" alt="" width="380px" height="330px">
              <div class="hover-galeria">
              <img src="assets/hover.jpg" alt="">
              <p>Nuestro Trabajo</p>
             </div>
            </div>
          </div>
          <div class="col">
            <div class="imagen"><img src="assets/principal5.png" alt="" width="320px" height="330px">
              <div class="hover-galeria">
              <img src="assets/hover.jpg" alt="">
              <p>Nuestro Trabajo</p>
             </div>
            </div>
          </div>
          <div class="col">
            <div class="imagen"><img src="assets/principal6.png" alt="" width="320px" height="330px">
              <div class="hover-galeria">
              <img src="assets/hover.jpg" alt="">
              <p>Nuestro Trabajo</p>
             </div>
            </div>
          </div>
    </div>
    <div class="row align-items-end">
        <div class="col">
          <div class="imagen"> <img src="assets/principal7.png" alt="" width="380px" height="330px">
            <div class="hover-galeria">
              <img src="assets/hover.jpg" alt="">
              <p>Nuestro Trabajo</p>
            </div>
          </div>  
          </div>
          <div class="col">
            <div class="imagen"> <img src="assets/principal8.png" alt="" width="320px" height="330px">
             <div class="hover-galeria">
              <img src="assets/hover.jpg" alt="">
              <p>Nuestro Trabajo</p>
              </div>
            </div>  
          </div>
          <div class="col">
            <div class="imagen"><img src="assets/principal9.png" alt="" width="320px" height="330px">
             <div class="hover-galeria">
              <img src="assets/hover.jpg" alt="">
              <p>Nuestro Trabajo</p>
              </div>
            </div>   
          </div>
    </div>
  </div>
  </div>

  

