<div class="container">
    <h1>Administración de Clientes</h1>
    <!-- Creacion de la grilla -->
    <div class="row">
      <div class="col-lg-6">
        <form [formGroup]="myform">  <!-- el formulario se llama myform-->
          <p>
            <label>Identificacion</label><input type="number" class="form-control" formControlName="Ident_Cliente" />
          </p>
          <p>
            <label>Nombre</label><input type="text" class="form-control" formControlName="Nom_cliente" />
          </p>
          <p>
            <label>Apellido</label><input type="text" class="form-control" formControlName="Apel_Cliente" />
          </p>
          <p>
            <label>Edad</label><input type="number" class="form-control" formControlName="Edad_Cliente" />
          </p>
          <p>
            <label>Afiliado</label><input type="text" class="form-control" formControlName="Afiliado" />
          </p>
          <p><button (click)="alta(myform.value)" class="btn btn-primary mx-1">Agregar</button>
             <button (click)="modificacion(myform.value)" class="btn btn-danger">Modificar</button>
          </p>
        </form>
      </div>
  
      <div class="col-lg-6">
         <!-- puede colocar una imagen -->
         <img src="assets/chica.png" alt="" width="60%" height="100%">
  
      </div>
    </div>
    <table class="table table-striped table-bordered">
      <tr>
        <th>Id</th>
        <th>Identificacion</th>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Edad</th>
        <th>Afiliado</th>
        <th class="text-center" colspan="2">Opciones</th>
      </tr>
       <!-- *ngfor permite recorrer el resultado de buscar todos los registros y mostralo en la tabla html -->
      <tr *ngFor="let con of lista_clientes" >
        <td>{{con.Id_Cliente}}</td>
        <td>{{con.Ident_Cliente}}</td>
        <td>{{con.Nom_cliente}}</td>
        <td>{{con.Apel_Cliente}}</td>
        <td>{{con.Edad_Cliente}}</td>
        <td>{{con.Afiliado}}</td>
        <td><button class="btn btn-outline-secondary" (click)="seleccionar(con)">Seleccionar</button></td>
        <td><button class="btn btn-outline-danger" (click)="baja(con.Id_Cliente)">Borrar?</button></td>
      </tr>
    </table>
   </div>