

<div class="container">

    <div class="row justify-content-around">
      <div class="col-4" style="margin:0 ;">
        <form >
            <h2 style="font-family: fantasy; text-align: center;">Agenda tu cita</h2><br>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Correo Electronico</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
              <div id="emailHelp" class="form-text">comentanos que quieres y lo haremos</div>
            </div>
            <div class="mb-3">
              <label for="formFile" class="form-label">imagen modelo</label>
              <input class="form-control" type="file" id="formFile">
            </div>
            <div class="mb-3">
              <label for="">Nombre</label>
              <input class="form-control form-control-lg" type="text" placeholder="Nombre" aria-label=".form-control-lg example">
            </div>
            <div class="mb-3">
              <label for="">Apellido</label>
              <input class="form-control form-control-lg" type="text" placeholder="Apellido" aria-label=".form-control-lg example">
            </div>
            <div class="mb-3">
              <label for="">Numero de telefono</label>
              <input class="form-control form-control-lg" type="text" placeholder="Numero de telefono" aria-label=".form-control-lg example">
            </div>
          
            <button style="margin-left: 300px;" type="submit" class="btn btn-primary">Enviar</button> <br>
            <br>
          
          
          
          
        </form>
      </div>

      <div class="col-4 img" >
          <div class="imagen">
            <img src="https://thumbs.dreamstime.com/b/se%C3%B1ora-bermeja-del-negocio-en-fondo-verde-secretaria-de-la-mujer-vector-f-95886009.jpg" alt="" >
          </div>
      </div>
    </div>
    
  </div>


  

  
  
  
  
  
  
  
  
  
  